@font-face {
    font-family: 'PatrickHand' ;
    src: url('font/PatrickHand-Regular.ttf');
}

// Fonts
$font1 :'Patrick Hand', cursive;
$font2 : "Poppins", sans-serif;

// Font sizes
$size-title: 120px;
$size-subtitle: 90px;
$size-content: 18px;

// Font weights
$bold: 800;
$semibold: 650;
$regular: 400;
$light: 300;