.accessoire {
    height: 80vh;
    .title-accessoire {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .link-accessoire{
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        margin-right: 100px;
        font-size: 24px;

        a {
            color: black;
        }
    }

    .choix-accessoire {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        .selected-mascot {
            position: relative;
            z-index: 1;
            display: grid;
            grid-column: 1/2;
            grid-row: 1/2;
            margin-left: 25%;
            margin-top: 10%;
            border: 2px solid black;
            padding: 5%;
            border-radius: 8px;
            width: 350px;
            height: auto;

        }

        .selected-haut {
            position: relative;
            z-index: 2;
            display: grid;
            grid-column: 1/2;
            grid-row: 1/2;
            margin-left: 32%;
            margin-top: 30%;
            padding: 5%;
            border-radius: 8px;
            width: 240px;
            height: auto;
        }

        .selected-bas {
            position: relative;
            z-index: 2;
            display: grid;
            grid-column: 1/2;
            grid-row: 1/2;
            margin-left: 40%;
            margin-top: 45%;
            padding: 5%;
            border-radius: 8px;
            width: 100px;
            height: auto;
        }
    }

    .retour-accessoire {
        font-size: 24px;
        color: black;
        margin-left: 10%;
    }

}

.highlighted-accessoire{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    z-index: 2;
    img {
        position: absolute;
        left: 215px;
        top: 370px;
        width: 200px;
    }
}

.boite-accessoire {
    margin-top: 3%;
    gap: 20px;
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 1fr 1fr;

    
}

.accessoire-vetement {
    width: 230px;
    padding: 5%;
    height: auto;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: rgb(179, 207, 217);
    }
}