// Couleurs primaires du site
$primary-color : #9FB8E9;
$secondary-color : #FAB900;

// Colors utiles
$blue : #60A0D8;
$red : #FF0000;
$yellow : #E2B93B;
$green : #27AE60;
$grey : #606060;
$white : #FFFFFF;
$black : #000000;

// Colors with opacity
$blue-opacity : #60a0d8a1;
$red-opacity : #ff0000b5;
$yellow-opacity : #E2B93Bb4;
$green-opacity : #27ae5fb4;
$grey-opacity : #6060608e;
